# Data Sceince Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- LIst popular Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3 * 4) + 5    #This is a simple arithmetic expression to mutiply then add integers

17

In [3]:
200 / 60    #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Yekwon Lee